modules = ["nodejs-20", "web"]
run = "live-server"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 41685
externalPort = 3000

[[ports]]
localPort = 46027
externalPort = 3001
