modules = ["web", "nodejs-20"]
run = "live-server ."

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "live-server ."]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 38531
externalPort = 3000
